* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: 'Outfit', sans-serif;
}

.first-text {
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.second-text {
    color: rgba(109, 107, 107, 0.862);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 25px;
    flex-direction: column;
    text-align: center;
}

body {
    background-color: rgb(97, 186, 228);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;

}

.container {
    background-color: rgb(244, 239, 239);
    max-width: 440px;
    border-radius: 30px;

}

.image-qrcode {
    max-width: 400px;
    max-height: 400px;
    border-radius: 40px;
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

@media (max-widht: 1440px) {
    
}
 body {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;  
    gap: 35px; 
 }

 @media (max-widht: 275px) {
body {
    max-width: 10px;
    max-height: 10px;
    box-sizing:content-box;
} 
}